<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgc.mybatis.mapper.ProMapper">
    <select id="findAll" resultType="Product">
        SELECT * FROM product
    </select>

    <insert id="insert" parameterType="Product"
            useGeneratedKeys="true" keyProperty="proId">
        INSERT INTO product (pro_name, price, amount)
<!--        자바 필드이름-->
        VALUES (#{proName}, #{price}, #{amount})
    </insert>

    <select id="findById" resultType="Product">
        SELECT * FROM product WHERE pro_id = #{proId}
    </select>

    <update id="update" parameterType="Product">
        UPDATE product
        SET
        pro_name = #{proName},
        price = #{price},
        amount = #{amount}
        WHERE
        pro_id = #{proId}
    </update>
    
    <delete id="delete" parameterType="long">
        DELETE FROM product WHERE pro_id = #{proId}
    </delete>
</mapper>