<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pgc.excrud.mapper.ArticleMapper">

    <resultMap id="articleResultMap" type="com.pgc.excrud.domain.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
    </resultMap>


    <insert id="createArticle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article (title, content)
        VALUES (#{title}, #{content})
    </insert>

    <select id="findById" parameterType="long" resultMap="articleResultMap">
        SELECT id, title, content
        FROM article
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="articleResultMap">
        SELECT id, title, content
        FROM article
    </select>

    <update id="updateArticle" parameterType="com.pgc.excrud.domain.Article">
        UPDATE article
        SET title   = #{title},
            content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE
        FROM article
        WHERE id = #{id}
    </delete>
</mapper>